* {
	background-color: #9a9a9a;
}

entry{
	display: block;
	background-color: #9a9a9a;
	border: 4px solid #00009c;
	margin: 5px;
}

title{
	background-color: black;
	color: white;
	text-align: center;
	display: block;
}

updated{
	background-color: rgb(58, 65, 161);
}

summary, subtitle{
	text-decoration: underline;
}

author{
    display: none;
}